#content-bg{
    background:transparent url(img/content.png) no-repeat 0 0;     
    height: 100%;
    width: 100%;
}
#content{background:transparent url(img/content-1.png) no-repeat 0 0; position: absolute; top: 0;}
#content.active{background:transparent url(img/content-2.png) no-repeat 0 0;}
#content.active-2{ background:transparent url(img/content-3.png) no-repeat 0 0;}
#ref .content{background:transparent url(img/ref.png) no-repeat 0 0;}

.btn-popup {
    background:transparent url(img/btn.png) no-repeat 0 0;
    position: absolute;
    width: 341px;
    height: 67px;
    left: 248px;
    top: 1252px;
    z-index: 5;
}
