#content{background:transparent url(img/content.png) no-repeat 0 0;}
#ref .content{background:transparent url(img/ref.png) no-repeat 0 0;}
.graph-1{background:transparent url(img/graph1.png) no-repeat 0 0;}
.graph-2{background:transparent url(img/graph2.png) no-repeat 0 0;}
.content-graph-1, .content-graph-2{
    position: absolute;
    width: 2048px;
    height: 1536px;
    bottom: 0;
    left: 0;
}
.btn-orange, .btn-blue{
    background:transparent url(img/btn_off.png) no-repeat 0 0;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1485px;
}
.btn-orange{
    top: 995px;
} 
.btn-blue{
    top: 1090px;
}
.btn-orange.active{
    background:transparent url(img/btn_organge.png) no-repeat 0 0;
}
.btn-blue.active{
    background:transparent url(img/btn_blue.png) no-repeat 0 0;
}
