
@font-face {
  font-family: 'VAGRounded-Bold';
  src: url('VAGRounded-Bold.eot?#iefix') format('embedded-opentype'),  url('VAGRounded-Bold.otf')  format('opentype'),
	     url('VAGRounded-Bold.woff') format('woff'), url('VAGRounded-Bold.ttf')  format('truetype'), url('VAGRounded-Bold.svg#VAGRounded-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
