#content{background:transparent url(img/content.png) no-repeat 0 0;}


#pop1-exter {
    left: 63%;
    top: 42%;
}


#pop2-exter {
    left: 63%;
    top: 60%;
}

#pop3-exter {
    left: 63%;
    top: 70%;
}