#content{background:transparent url(img/content.png) no-repeat 0 0;}
#ref .content{background:transparent url(img/ref.png) no-repeat 0 0;}
.gif-container {
    position: absolute;
    top: 300px;
    left: 190px;
}