#content{background:transparent url(img/content.png) no-repeat 0 0;}
#ref .content{background:transparent url(img/ref.png) no-repeat 0 0;}
.btn-popup{
    background:transparent url(img/plus.png) no-repeat 0 0;
    position: absolute;
    width: 117px;
    height: 119px;
    left: 1559px;
}
.btn-popup-1{top: 400px;}
.btn-popup-2{top: 700px;}
.btn-popup-3{top: 1000px;}