#content{background:transparent url(img/content.png) no-repeat 0 0;}

.sub-menu{    
    position: absolute;    
    bottom: 24px;    
    left: 0;    
    width: 100%;    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;    
    -webkit-box-pack: center;    
    -ms-flex-pack: center;    
    justify-content: center;
}

.sub-menu > *{    
    width: 356px;    
    height: 140px;
}

.eggs.active{background: transparent url(img/eggs-active.png) no-repeat right center;}
.peanut{background: transparent url(img/peanut.png) no-repeat left center;}