#global{background:transparent url(img/bg.png) no-repeat 0 0 !important;}
#content{background:transparent url(img/content.png) no-repeat 0 0;}
.btn-ref{display: none;}

.greeting-text {   
    position: absolute;
    width: 100%;
    top: 280px;
    text-align: center;
    font-size: 52px;
    font-family: 'VAGRounded-Bold';
    color: #3f4685;
}