#content{background:transparent url(img/content.png) no-repeat 0 0;}

#ref .content{background:transparent url(img/ref.png) no-repeat 0 0;}


#pop1-exter {
    background:transparent url(img/ref.png) no-repeat 0 0;
    left: 63%;
    top: 42%;
}


#pop2-exter {
    background:transparent url(img/ref.png) no-repeat 0 0;
    left: 63%;
    top: 60%;
}

#pop3-exter {
    background:transparent url(img/ref.png) no-repeat 0 0;
    left: 63%;
    top: 70%;
}