
@font-face {
    font-family: 'VAGRounded-Light';
    src: url('VAGRounded-Light.eot?#iefix') format('embedded-opentype'),  url('VAGRounded-Light.otf')  format('opentype'),
        url('VAGRounded-Light.woff') format('woff'), url('VAGRounded-Light.ttf')  format('truetype'), url('VAGRounded-Light.svg#VAGRounded-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
