#content{background:transparent url(img/content.png) no-repeat 0 0;}
#ref .content{background:transparent url(img/ref.png) no-repeat 0 0;}

.btn-popup{
    background:transparent url(img/btn.png) no-repeat 0 0;
    position: absolute;
    width: 341px;
    height: 67px;
    top: 1315px;
} 
.btn-popup-1{
    left: 500px;
}
.btn-popup-2{
    left: 1300px;
}