@charset "UTF-8";

@font-face {
  font-family: "icons";
  src:url("fonts/icons/icons.eot");
  src:url("fonts/icons/icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/icons/icons.woff") format("woff"),
    url("fonts/icons/icons.ttf") format("truetype"),
    url("fonts/icons/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ic-"]:before,
[class*=" ic-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-top-menu3:before {
  content: "\61";
}
.ic-top-menu2:before {
  content: "\62";
}
.ic-top-menu4:before {
  content: "\63";
}
.ic-top-menu1:before {
  content: "\64";
}
.ic-side-menu1:before {
  content: "\65";
}
.ic-side-menu2:before {
  content: "\66";
}
.ic-side-menu3:before {
  content: "\68";
}
.ic-side-menu4:before {
  content: "\67";
}
.ic-ref:before {
  content: "\69";
}
