@charset "UTF-8";

@font-face {
    font-family: "untitled-font-1";
    src:url("fonts/icons/untitled-font-1.eot");
    src:url("fonts/icons/untitled-font-1.eot?#iefix") format("embedded-opentype"),
        url("fonts/icons/untitled-font-1.woff") format("woff"),
        url("fonts/icons/untitled-font-1.ttf") format("truetype"),
        url("fonts/icons/untitled-font-1.svg#untitled-font-1") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "untitled-font-1" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "untitled-font-1" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-side-menu7:before {
    content: "\66";
}
.icon-side-menu6:before {
    content: "\61";
}
.icon-side-menu3:before {
    content: "\62";
}
.icon-side-menu1:before {
    content: "\63";
}
.icon-side-menu4:before {
    content: "\64";
}
.icon-side-menu5:before {
    content: "\65";
}
.icon-side-menu2:before {
    content: "\67";
}
