#drawTool 
{
    z-index: 2003;
    position: absolute;
    right: 200px;
    top: 65px;
    width: 370px;
    height: 80px;
}

#drawToolSketchpad {
    z-index: 44;
    position: absolute;
    top: 0px;
    left: 0;
    display: block;
    opacity: 0.7;
    width: 1818px;
    height: 1536px;
    overflow: hidden;
}

#drawTool > div {
    float: left;
    width: 60px;
    height: 60px;
    border: 1px black solid;
    border-radius: 10px;
    margin: 5px;
} 

#drawTool .black{
    background: black;
}

#drawTool .red{
    background: red;
}

#drawTool .yellow{
    background: yellow;
}

#drawTool .green{
    background: green;
}

#drawTool .blue{
    background: blue;
}
#drawTool .xsmall {
    border-color: #e9501d;
}
.p-xsmall{
    background: black;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin: 28px;
}
.p-small{
    background: black;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin: 26px;
}
.p-medium{
    background: black;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    margin: 23px;
}
.p-large{
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 20px;
}

.clear{
    background-size: contain;
}