
/************************************************
        FONTS
************************************************/

@font-face {
    font-family: 'VAGRounded-Bold';
    src: url('fonts/VAGRounded-Bold/VAGRounded-Bold.eot?#iefix') format('embedded-opentype'),  
        url('fonts/VAGRounded-Bold/VAGRounded-Bold.otf')  format('opentype'),
        url('fonts/VAGRounded-Bold/VAGRounded-Bold.woff') format('woff'), 
        url('fonts/VAGRounded-Bold/VAGRounded-Bold.ttf')  format('truetype'), 
        url('fonts/VAGRounded-Bold/VAGRounded-Bold.svg#VAGRounded-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VAGRounded-Light';
    src: url('fonts/VAGRounded-Light/VAGRounded-Light.eot?#iefix') format('embedded-opentype'),  
        url('fonts/VAGRounded-Light/VAGRounded-Light.otf')  format('opentype'),
        url('fonts/VAGRounded-Light/VAGRounded-Light.woff') format('woff'), 
        url('fonts/VAGRounded-Light/VAGRounded-Light.ttf')  format('truetype'), 
        url('fonts/VAGRounded-Light/VAGRounded-Light.svg#VAGRounded-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}



/************************************************
        ANIMATIONS
************************************************/

.implode{
    -webkit-transform:scale(0);
    transform:scale(0);
    -webkit-animation-name: implode;
    animation-name: implode;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes implode {
    0%   {-webkit-transform:scale(1);transform:scale(1);}
    25%  {-webkit-transform:scale(1.1);transform:scale(1.1);}
    100% {-webkit-transform:scale(0);transform:scale(0);}
}

@keyframes implode {
    0%   {-webkit-transform:scale(1);transform:scale(1);}
    25%  {-webkit-transform:scale(1.1);transform:scale(1.1);}
    100% {-webkit-transform:scale(0);transform:scale(0);}
}


/************************************************
        APP STYLES
************************************************/

*{
    border:0;
    margin:0;
    padding:0;
    outline:none;
    box-sizing: border-box;
}

body{
    font-family: 'helvetica';
    overflow: hidden;
    position: fixed;
}

::-webkit-scrollbar {
    display: none; 
    width: 0px;
    background: transparent;
}

.hidden{display: none;}
.disabled{
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    pointer-events: none;
}

.abs{position:absolute;}
.btn{height: 150px; width: 150px;}


#global.global-regular{background:transparent url(img/bg.png) no-repeat 0 0;}
#global.global-popup{background:transparent url(img/bg-popup1.png) no-repeat 0 0;}
#content{height:100%;width:100%;}

.nestle{
    background:transparent url(img/nestle.png) no-repeat center center;
    position: absolute;
    width: 300px;
    height: 170px;
    bottom: 30px;
    right: 76px;
    z-index: 3;
}

.beba{
    background:transparent url(img/beba.png) no-repeat center center;
    position: absolute;
    width: 240px;
    height: 170px;
    bottom: 30px;
    right: 76px;
}

.switch{
    background:transparent url(img/switch.png) no-repeat center center;
    position: absolute;
    width: 120px;
    height: 100px;
}

.btn-close{
    background:transparent url(img/btn-close.png) no-repeat center center;
    position: absolute;
    top: 20px !important;
    right: 20px !important;
}

.preload{
    opacity: 0 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    pointer-events: none !important;
}

.btn{
    width:150px;
    height: 150px;
}

.droppable-hover{
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}


/************************************************
        NAV
************************************************/

.nav{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 674px;
}

.left-arrow{
    background:transparent url(img/left-arrow.png) no-repeat center center;
    left: 0;
}

.right-arrow{
    background:transparent url(img/right-arrow.png) no-repeat center center;
    right: 150px;
}

.global-popup .left-arrow{
    left: 50px;
}

.global-popup .right-arrow{
    right: 50px;
}



/************************************************
        TOP MENU
************************************************/

#top-menu{
    position: absolute;
    top: 0;
    right: 0;
    height: 111px;
}

#top-menu .nivell-1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

#top-menu .nivell-1 > li{
    width: 110px;
    height: 100%;
}

#top-menu .nivell-1 > li > span{
    height: 100%;
    display: block;
}

#top-menu .nivell-1 .ic{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 84px;
    color:#2a3178;
}

/************************************************
        btn-side 
************************************************/
.btn-side{
    position: absolute;
    /* border: 1px solid red; */
    width: 48px;
    height: 48px;
    right: 1.6%;
    top: 10%;
    background:transparent url('img/btn-home.png') no-repeat 0 0;
}



/************************************************
        SIDE MENU
************************************************/

.side-menu-toggle{
    position:absolute;
    right: 20px;
    top: 200px;
    height: 100px;
    width:100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color:#2a3178;
    font-size: 100px;
    -webkit-transition: all 0.3s ease;
    transition:all 0.3s ease;
}

.side-menu-toggle.active{
    color:#9598bb;
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

#side-menu{
    position: absolute;
    width: 501px;
    top: 220px;
    right: 0px;
    z-index: 10;
}

#side-menu .nivell-1{
    position: absolute;
    width: 100%;
    right: -74%;
    background: #f4edd8;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition:all 0.3s ease;
    height: 424px;
}

#side-menu .nivell-1.active{
    right: 0%;
}

#side-menu .nivell-1 > li{
    color: #3f4685;
    height: 105px;
}

#side-menu .nivell-1 > li.active{
    background:#c9a43b;
    color:#f7f7f7;
    border-radius:10px 0px 0px 10px;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
}

#side-menu .nivell-1 > li.active > span > *{
    border:0;
    color: #fff;
}

.menu-text{
    border-bottom: none!important;
    font-size: 29px;
    color:#2a3178;
    font-weight: bold;
}

#side-menu .nivell-1 > li > span{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

#side-menu .nivell-1 > li > span > *{
    border-bottom: 4px solid #e2dcd0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#side-menu .nivell-1 > li:last-child > span > *{
    border:0;
}

#side-menu .nivell-1 .ic{
    width: 20%;
    padding-top: 5%;
    margin: 0px 4%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 101px;
}

#side-menu .nivell-1 .txt{
    width: 64%;
    font-size: 32px;
    font-family: 'VAGRounded-Bold';
}

.btn-ref{
    position:absolute;
    right:0;
    bottom: 260px;
    width: 152px;
    height: 80px;
    border-radius: 10px 0px 0px 10px;
    background: #ecdfba;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    font-size: 100px;
    color: #3f4685;
}

.ic-ref:before {
    padding-left: 32px;
}



/************************************************
        SIDE MENU2
************************************************/

.side-menu2-toggle{
    position:absolute;
    right: 20px;
    top: 200px;
    height: 100px;
    width:100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color:#2a3178;
    font-size: 100px;
    -webkit-transition: all 0.3s ease;
    transition:all 0.3s ease;
}

.side-menu2-toggle.active{
    color:#9598bb;
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

#side-menu2{
    position: absolute;
    width: 501px;
    top: 680px;
    right: 0px;
    z-index: 10;
}
#side-menu2 .menu-text{
    font-size: 22px;
    color:#2a3178;
    font-weight: bold;
    border-bottom: 4px solid #e4e5eb;
}
#side-menu2 .nivell-1{
    position: absolute;
    width: 100%;
    right: -74%;
    background: #f7f7f7;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition:all 0.3s ease;
    height: 457px;
}

#side-menu2 .nivell-1.active{
    right: 0%;
}

#side-menu2 .nivell-1 > li{
    color: #3f4685;
    height: 105px;
}

#side-menu2 .nivell-1 > li.active{
    background: #9598b8;
    color:#f7f7f7;
    border-radius:10px 0px 0px 10px;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    border:0!important;
    height: 140px;
}

b{
    border:0;
}


#side-menu2 .nivell-1 > li.active > span > .menu-text{
    border: 0!important;
}
#side-menu2 .nivell-1 > li > span{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

#side-menu2 .nivell-1 > li > span > *{
    border-bottom: 4px solid #e4e5eb!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%;
}

#side-menu2 .nivell-1 > li.active > span > *{
    border-bottom: 0 !important;

}

#side-menu2 .nivell-1 > li:last-child > span > *{
    border:0;
}

#side-menu2 .nivell-1 .ic{
    width: 16%;
    padding-top: 7%;
    margin: 0px 5%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 113px;
}

#side-menu2 .nivell-1 .txt{
    width: 64%;
    font-size: 32px;
    font-family: 'VAGRounded-Bold';
}

#side-menu2 .nivell-1 > li:last-child > span > *{
    border: none!important;
}


/************************************************
        SIDE MENU3
************************************************/

.side-menu2-toggle{
    position:absolute;
    right: 20px;
    top: 200px;
    height: 100px;
    width:100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color:#2a3178;
    font-size: 100px;
    -webkit-transition: all 0.3s ease;
    transition:all 0.3s ease;
}

.side-menu2-toggle.active{
    color:#9598bb;
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}

#side-menu3{
    position: absolute;
    width: 501px;
    top: 680px;
    right: 0px;
    z-index: 10;
}
#side-menu3 .menu-text{
    font-size: 22px;
    color:#2a3178;
    font-weight: bold;
    border-bottom: 4px solid #e4e5eb;
}
#side-menu3 .nivell-1{
    position: absolute;
    width: 100%;
    right: -74%;
    background: #f7f7f7;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition:all 0.3s ease;
    height: 457px;
}

#side-menu3 .nivell-1.active{
    right: 0%;
}

#side-menu3 .nivell-1 > li{
    color: #3f4685;
    height: 105px;
}

#side-menu3 .nivell-1 > li.active{
    background: #9598b8;
    color:#f7f7f7;
    border-radius:10px 0px 0px 10px;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.2);
    border:0!important;
    height: 140px;
}

b{
    border:0;
}


#side-menu3 .nivell-1 > li.active > span > .menu-text{
    border: 0!important;
}
#side-menu3 .nivell-1 > li > span{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

#side-menu3 .nivell-1 > li > span > *{
    border-bottom: 4px solid #e4e5eb!important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%;
}

#side-menu3 .nivell-1 > li.active > span > *{
    border-bottom: 0 !important;

}

#side-menu3 .nivell-1 > li:last-child > span > *{
    border:0;
}

#side-menu3 .nivell-1 .ic{
    width: 16%;
    padding-top: 7%;
    margin: 0px 5%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 113px;
}

#side-menu3 .nivell-1 .txt{
    width: 64%;
    font-size: 32px;
    font-family: 'VAGRounded-Bold';
}

#side-menu3 .nivell-1 > li:last-child > span > *{
    border: none!important;
}


/************************************************
        BULLETS
************************************************/

#bullets{
    bottom: 26px;
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#bullets > div{
    height: 60px;
    width: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#bullets > div > span{
    display: inline-block;
    height: 26px;
    width: 26px;
    background:#d7dde0;
    border-radius: 100%;
    box-shadow: inset 4px 3px 5px 0px rgba(0, 0, 0, 0.3);
}

#bullets > div.active > span{
    background:#2656a3;
}

/************************************************
        POPUPS
************************************************/

.popup{
    height:100% !important;
    width:100% !important;
    background:transparent url(img/bg-popup1.png) no-repeat 0 0;
    position: absolute;
    top: 0 !important;
    left: 0 !important;
}


.popup.p2{background:transparent url(img/bg-popup2.png) no-repeat 0 0;}

.popup .content{
    height:100% !important;
    width:100% !important;
}

#instructions .content{background:transparent url(img/instructions.png) no-repeat 0 0;}
#disclaimer .content{background:transparent url(img/disclaimer.png) no-repeat 0 0;}
#popup-beba .content{background:transparent url(img/popup-beba.png) no-repeat 0 0;}


#pop1{width: 107px;height: 107px;background:transparent url(img/popups/btn_popup_blue.png) no-repeat 0 0;bottom: 21%;left: 84%;}
#pop2{width: 107px;height: 107px;background:transparent url(img/popups/btn_popup_green.png) no-repeat 0 0;bottom: 59%;left: 84%;}
#pop3{width: 107px;height: 107px;background:transparent url(img/popups/btn_popup_pink.png) no-repeat 0 0;bottom: 39%;left: 84%;}
/************************************************
        BOTON-POPUPS-EXTERNO
************************************************/
.popup_ext{position: absolute;width: 200px;height: 50px;background: red;bottom: 13%;}


#pop1-exter{
    background:transparent url('img/popups/btn_pop3.png') no-repeat 0 0;
    width: 487px;
    height: 106px;
    left: 27%;
}
#pop2-exter{
    background:transparent url('img/popups/btn_pop4.png') no-repeat 0 0;
    width: 487px;
    height: 106px;
    left: 33%;


    left: 53%;}


/************************************************
        DRAWING
************************************************/

.btn-draw.active{
    z-index: 60;
}

.btn-draw.active .ic{
    color: white !important;
    text-shadow: 0px 0px 10px black;
}

#drawTool{ display:none; }

#drawToolSketchpad {
    z-index: 50;
    display: none;
    width: 2048px;
    height: 100vh;
}


.btn-side.active{
    -moz-animation: 1s bote ;
    -webkit-animation: 1s bote ;
    transform: rotate(90deg);
}

/* Standard syntax */ 
@keyframes bote {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(90deg);}
}

@-webkit-keyframes bote {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(90deg);}
} 


/************************************************
        title-top
************************************************/

.title-top{
    position: absolute;
    top: 3%;
    left: 33%;
    background:transparent url('img/sauglingskolk.png') no-repeat 0 0;
    width: 588px;
    height: 34px;
}


.title-top2{
    position: absolute;
    top: 3%;
    left: 33%;
    background:transparent url('img/spucken.png') no-repeat 0 0;
    width: 588px;
    height: 34px;
}